#featuredata {
    position:relative;
    top:    -600px;
    left:   602px;
    height: 400px;
    width:  300px;
}

#featuretable {
    width:  300px;
}

#base {
    position: relative;
}

#simulations {
    width: 960px;
}

#map {
    position: relative;
    top:      0;
    right:    0;
    height:   500px;
    width:    720px;
    border:   1px solid black;
    float: left;
}

#riverselection { 
    float: left;
    width: 200px;
    margin-left: 15px;
}

select.riverselect { 
    height: 600px;
    width: 180px;
}

div.clear {
    clear: both;
}

#map_actions {

}