{% extends "base_layout.html" %}
{% block content %}
    <script type="text/javascript">
        {% if simulation %}
        zoomExtent = new OpenLayers.Bounds{{  simulation.region.extent }};
        {% else %}
        zoomExtent = null;
        {% endif %}

        $(document).ready(function() {
            riversimInit(zoomExtent);
        });
    </script>

    <div id="map">
    </div>

    <div class="clear"></div>

    <div id="map_actions">
        <a href="#" onclick="createSimulationFromMap();">Create a new simulation from selection</a>

        {% if simulation %}
        <a href="?clear_simulation=1">Clear simulation</a>
        {% endif %}
    </div>

    <div id="simulations">
    <h2>Simulations</h2>
    {% if simulations  %}
        <ul>
        {% for simulation in simulations %}
            <li><a href="{% url show_simulation simulation_id=simulation.id %}">{{ simulation }}</a></li>
        {% endfor %}
        </ul>
    {% else %} 
        You have no saved simulations!
    {% endif %}

    </div>

 {% endblock %}