{% extends "base_layout.html" %}

{% block content %}
    <div id="edit_simulation">
        <h1>Editing {{ simulation.name }}</h1>
        <form action="{% url 'update_simulation' simulation_id=simulation.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="simulation_id" value="{{ simulation.id }}"><br/>
            <label>Name:</label><input type="text" name="simulation_name"><br/>
            <label>Model </label><select name="model_id">
            {% for model in models %}
            <option value="{{model.id}}">{{model.name}}</option>
            {% endfor %}
            </select>
            <br/>
            <label>Description:</label><textarea name="description" rows="15" cols="40"></textarea>
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}
