{% extends "base_layout.html" %}

{% block content %}
    
    <script type="text/javascript">
        {% if simulation %}
            zoomExtent = new OpenLayers.Bounds{{  simulation.region.extent }};
        {% else %}
            zoomExtent = null;
        {% endif %}

				$(document).ready(function() {

						map = new OpenLayers.Map('map', { numZoomLevels: 22 } );
						var aerial_layer = new OpenLayers.Layer.WMS( "aerial", "{% url wms %}",
							{
								layers: '{{ simulation.id }}_aerial', 
								format: 'image/png' 
						  },
							{
								projection: new OpenLayers.Projection('EPSG:4326')
						  }
						);
						map.addLayer(aerial_layer);
						
						map.setLayerIndex(aerial_layer, 10);

						var channel_layer = new OpenLayers.Layer.WMS("Channel Layer", "{% url wms %}", 
							{ 
								layers: "{{ simulation.id }}_channels", 
								format: "image/png" , 
								transparent: 'true'
						  }, 
							{ 
								projection: new OpenLayers.Projection('EPSG:4326'),
								isBaseLayer: false, 
								opacity: 0.3
						  });

						map.addLayer(channel_layer);
						map.setLayerIndex(channel_layer, 50);
				
						var width_layer = new OpenLayers.Layer.WMS("Width Layer", "{% url wms %}", 
							{ 
								layers: "{{ simulation.id }}_width", 
								format: "image/png" , 
								transparent: 'true'
						  }, 
							{ 
								projection: new OpenLayers.Projection('EPSG:4326'),
								isBaseLayer: false, 
								opacity: 0.9
						  });

						map.addLayer(width_layer);
						map.setLayerIndex(width_layer, 60);


						// Markers layer
						markers = new OpenLayers.Layer.Markers( "Markers" );
						map.addLayer(markers);

						map.setCenter(new OpenLayers.LonLat(-120.7066438,  37.4183875), 14);
						map.addControl(new OpenLayers.Control.LayerSwitcher());
						map.addControl(new OpenLayers.Control.Scale());
						map.addControl(new OpenLayers.Control.MousePosition());

            {% if simulation.start_point %}
            var flagsize = new OpenLayers.Size(27,36);
            var flagoffset = new OpenLayers.Pixel(-(flagsize.w/2), -flagsize.h);
						var icon = new OpenLayers.Icon('/static/images/markers/flag_green.png', flagsize, flagoffset); 
      
            var start_point = new OpenLayers.LonLat({{ simulation.start_point.x }}, {{ simulation.start_point.y }});
            var start_marker = new OpenLayers.Marker(start_point, icon);
            markers.addMarker(start_marker);
            {% endif %}

            {% if simulation.end_point %}
            var flagsize = new OpenLayers.Size(27,36);
            var flagoffset = new OpenLayers.Pixel(-(flagsize.w/2), -flagsize.h);
						var icon = new OpenLayers.Icon('/static/images/markers/flag_red.png', flagsize, flagoffset); 
      
            var end_point = new OpenLayers.LonLat({{ simulation.end_point.x }}, {{ simulation.end_point.y }});
            var end_marker = new OpenLayers.Marker(end_point, icon);
            markers.addMarker(end_marker);
            {% endif %}
        });
    </script>

    <div id="map">
    </div>

    <div class="clear"></div>

    <div id="map_actions">
        <a href="#" onclick="selectSimulationStartPoint();">Set start point</a>
        <a href="#" onclick="selectSimulationEndPoint();">Set end point</a>
    </div>

    <div id="simulation">
        <h1><a href="{%  url edit_simulation simulation_id=simulation.id %}">{{ simulation.name }}</a></h1>
        <h2>Simulation Data</h2>
        <ul>
            <li>Extent: {{ simulation.region.extent }}</li>
            <li>Start Elevation: {{ simulation.start_elevation }} ft.</li>
            <li>End Elevation: {{ simulation.end_elevation }} ft.</li>
            <li>Elevation Change: {{ simulation.elevation_change }} ft.</li>
        </ul>

        <h2>Rivers</h2>
        <ul>
        {% for river in simulation.rivers.all %}
            <li>{{ river.name }}</li>
        {% endfor %}
        </ul>

        <h2>Stations</h2>
        <div>
            {% for station in simulation.stations.all %}
                <a href="{% url show_station station_id=station.id %}">{{ station }}</a>&nbsp;
            {% endfor %}
        </div>

        <h2>Runs</h2>
        <a href="{% url new_simulation_run simulation_id=simulation.id %}">Create New Run</a>
        <ul>
            {% for run in simulation.run_set.all %}
                <li>{{ run }}</li>
            {% endfor  %}
        </ul>
    </div>

    <h2>Imagery</h2>
		<div class="imagery">
			<ul>
				<li><a href="{% url simulation_step simulation_id=simulation.id step_name="aerial_image" %}">Aerial Image</a></li>
				<li><a href="{% url simulation_step simulation_id=simulation.id step_name="channel_image" %}">Channel Image</a></li>
				<li><a href="{% url simulation_step simulation_id=simulation.id step_name="channel_width" %}">Channel Width Image</a></li>
			</ul>
   </div>

    <h2>Tiles</h2>
    <ul>
    {% for tile in simulation.ortho_tiles.all %}
    <li>{{ tile.tile }}</li>
    {% endfor %}
    </ul>  

{% endblock %}
