<html>
    <head>
        <title>RiverSim</title>

        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/map.css">

        <script type="text/javascript">
            var RIVERSIM = RIVERSIM || {};
            RIVERSIM.layers = {
                "rivers": {
                    "url": "{% url kml layer='rivers' %}",
                }, 
                "lidartiles": { 
                    "url": "{% url kml layer='lidartiles' %}",
                },
                "selected_lidartiles": {
                    "url": "{% url kml layer='selectedlidartiles' %}"
                },
                 "cdec_stations": {
                    "url": "{% url kml layer='cdec_stations' %}"
                },
            };
            RIVERSIM.urls = {
                "filter_rivers": "{% url filter_rivers %}"
            };
        </script>

        <script type="text/javascript" src="http://openlayers.org/dev/OpenLayers.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
        <script type="text/javascript" src="/static/js/map.js"></script>

    </head>

    <body>
        <div id="base">
            <div id="map">
            </div>
            
            <div id="riverselection">
                <select class="riverselect" multiple>
                {% for entry in river_names %}
                     {% if entry.selected %}
                        <option value="{{entry.name}}" selected="selected" onChange="toggleRiver()">{{entry.name|title}}</option>
                     {% else %}
                        <option value="{{entry.name}}" onChange="toggleRiver()">{{entry.name|title}}</option>
                     {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
    </body>

</html>
